.front .region-section-2 {
    display: flex;
    flex-direction: column;
}
#block-views-special-displays-block {
    order: 2;
}
.region-menu{
    /*display: none;*/
}
#block-views-categories-block .block-title {
    text-align: center;
    color: #000;
    letter-spacing: -1px;
    font-size: 26px;
}
.category-header {
    font-size: 130%;
    margin: 0 auto;
    max-width: 550px;
    font-weight: bold;
    text-align: center;
}
.block-views-categories-block {
    margin-bottom: 40px !important;
}
.view-categories .view-header{
    /*background-color: #F5F8FA;*/
    padding: 25px 0;
}
.view-categories .view-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    min-height: 212px;
    max-width: 960px;
    margin: 0 auto;
}
.view-categories .view-content::after {
    clear: both;
    content: '';
    display: inline-block;
    width: initial;
}
.views-row.category-row{
    margin-bottom: 0px;
}
.vc-btn {
    position: relative;
    margin-top: 100px;
    padding: 0 10px;
    font-family: FontAwesome;
    color: #133E60;
    font-size: 50px;
}
.vc-btn:hover{
    color: #0A87C2;
}
.category-row {
    width: 65%;
    background-color: #e6e6e6;
    padding:5px 1%;
    border-radius: 20px;
    min-height: 130px;
    float: left;
}
.cat-pick{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 220px;
}
/*.cat-pick:hover .category-desc {*/
    /*display: block;*/
    /*opacity: 1.0;*/
    /*z-index: 10;*/
    /*margin-top: -70px;*/
/*}*/
.category-image {
    float: left;
    padding: 0px;
    /*width: 90%;*/
    border: 10px solid #fff;
    border-radius: 120px;
}
.category-title {
    font-size: 115%;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    text-shadow: 1px 1px #000;
    z-index: 10;
}
.category-desc {
    font-size: 85%;
    line-height: 1.2;
    text-align: center;
    padding: 0 15px;
    display: none;
}

.kl-img {
    width: 100%;
    border-radius: 120px;
    height: auto;
    position: absolute;
    margin-right: 20px;
    overflow: hidden;
    background-color: #133E60;
    border: 2px solid #133E60;
}
.kl-img img {
    opacity:0.35;
    border-radius: 120px;
    width: 100%;
    filter: grayscale(1);
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.kl-img::before {
    padding: 50% 0;
    content: "";
    float: left;
}
.category-row:hover img {
    filter: grayscale(0.2);
    opacity: 0.75;
}
svg.svg{
    width: 100%;
    opacity: 0.6;
}
.front .portfolio-row {
    width: 95%;
    font-size: 1.3em;
    background-color: #fff;
    min-height: 325px;
    position: relative;
    padding: 15px 1% 0;
    margin: 0 1.2% 0 1.8%;
    float: left;
    border: 1px solid #fff;
    color: #000;
}
.front .portfolio-row a{
    color: #000;
}
.front .portfolio-row:hover{
    border: 1px solid #000;
    background-color: #eee;

}
.front #footer .portfolio-row:hover  a{
    color: #000;
}
.front .region-footer {
    padding: 0;
}
.footer_top_wrapper {
    background: #1C435F !important;
}
.footer_top_wrapper .region {
    padding: 20px 0 !important;
}
.footer-news-title{
    padding-top: 25px;
    text-align: center;
}
.footer-news-title h2{
    margin: 0;
}
.footer-news-title h2:after{
    content: unset;
}
.region-footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1C435F;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto;
}
.region-footer-top .block-views {
    min-width: 48%;
    margin: 0 1%;
}
.ll-news-feature {
    text-align: center;
    font-size: 25px;
    border: 1px solid #fff;
    padding: 20px;
    background-color: #fff;
}
.ll-news-feature img {
    width: calc(100% - 40px);
}
.ll-news-feature .views-field-title {
    color: #113756;
    margin-bottom: 10px;
}
.ll-news-feature .views-field-title {
    color: #113756;
}
.ll-news-feature-link{
    font-style: italic;
}
.ll-news-item {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid #fff;
}
.ll-news-item:hover {
 background-color: #0A87C2
}
.ll-news-item-link {
    min-width: 100px;
}
.ll-news-item-link a{
    font-style: italic;
}
.ll-news-item a:link,
.ll-news-item a:visited,
.ll-news-item a:active{
    color: #fff !important;
}
.block-block-14 .tm-follow-links.clearfix.site {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
}
@media screen and (min-width: 600px) {
    .views-row.category-row{
        margin-bottom: 30px;
    }
    .category-row {
        width: 21%;
        /*margin: 10px 1% 10px 1%;*/
        /*padding:5px 1%;*/
        float: left;
    }
}
@media screen and (min-width: 768px) {
    .front .portfolio-row {
        width: 28%;
    }

    .region-footer-top {
        flex-direction: row;
    }
    .front .region-section-2 {
        display: block;
        flex-direction: unset;
    }
    .top-round {
        display: block !important;
    }
    .front-page-links {
        border: none;
    }
}
@media screen and (min-width: 960px) {

    .category-row {
        min-width: 21%;
        /*margin: 10px 1% 10px 1%;*/
        margin: 0 10px;
        padding:0;
        float: left;
    }
    .view-display-id-topic_list .category-row {
        width: 98%;
    }
}
